
<main class='[grid-area:Main] bg-[#1e1e1e]  rounded-md ml-2 mr-4 h-full '>
    <header class="m-4">
        <span class="text-white text-xl font-bold">
            Recently Played
        </span>
    </header>
</main>